@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #333;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
}

@media (max-height: 900px) {
  html {
    font-size: 70%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
  width: 100vw;
}

.App {
  background-color: #F2F2F2;
  padding: 1rem;
  /* margin: 1rem; */
  border-radius: 1rem;

  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: min(250px, 25%) 1fr;
  column-gap: 1rem;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}

/* Fonts */

.header-1 {
  font-weight: 700;
}

.loading-placeholder {
  align-self: center;
  justify-self: center;
  border-radius: 1rem;
  padding: 1rem;
  font-weight: 500;
}

/* Common */

button {
  border: 0;
  cursor: pointer;
  outline: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none !important; 
}

.d-flex { 
  display: flex;
}

.btn-cancel {
  background-color: #dc143c !important;
  cursor: pointer;
}

.btn-cancel:hover {
  background-color: #e34363 !important;
}

/* Sidebar */

.sidebar {
  background-color: #222C67;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;

  width: 100%;
}

.sidebar ul a {
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 500;
  color: #F2F2F2;
  height: 3.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar ul a ion-icon {
  margin-right: 1rem;
}

.sidebar ul a:hover{
  background-color:#F2F2F2;
  color: #222C67;
}

.sidebar ul a:hover ion-icon{
  color: #222C67;
}

/* Content */

.content {
  border-radius: 1rem;
  height: 100%;
}

/* Home */

.home {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1.5rem;
  height: 100%;
}

/* Courses */

.courses-box {
  height: 100%;
  max-height: 100%;
}

.courses {
  display: grid;
  grid-template-columns: 25% 1fr;
  column-gap: 1rem;
  height: 100%;
}

.course-details, .courses-list, .course-form {
  background-color: #fff;
  border-radius: 1rem;
  height: 100%;
  max-height: 100%;
}

.courses-list {
  padding: 1.5rem .5rem;

  display: grid;
  grid-template-rows: min-content min-content 1fr;
}

.course-details {
  padding: 1.5rem;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: repeat(10, 1fr);
  gap: 1rem;
}

.course-details-header {
  grid-row: 1/4;
  border-radius: 1rem;
  //padding: .5rem 0;
}

.course-details-header-name{
  font-size: 2rem;
  display: grid;
  grid-template-columns: 3rem 1fr;
  column-gap: 1rem;
  margin-bottom: 1rem;
}

.course-details-header-name h1 {
  font-weight: 800;
}

.course-details-terms {
  margin-bottom: 1rem;
}

.course-details-terms, .course-details-terms > *, .course-details-lecture, .course-details-lecture > * {
  display: flex;
  align-items: center;
}

.course-details-terms h3 {
  margin: 0 1.5rem 0 .5rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.course-details-terms ion-icon{
  width: 2rem;
  height: 2rem;
}

.course-details-lecture p {
  margin: 0 1rem 0 .5rem;
  font-size: 1rem;
  font-weight: 700;
}

.course-details-lecture ion-icon{
  width: 1.5rem;
  height: 1.5rem;
}

.course-details-resources {
  grid-row: 9/11;
  align-self: end;
}

.course-details-resources h2 {
  margin-bottom: 1rem;
}

.course-details-resources-tiles {
  display: flex;
  //justify-content: space-between;
}

.course-details-resources-tile {
  width: 15rem;
  height: 6rem;
  border-radius: 1rem;
  padding: .5rem;
  margin: 0 .5rem;

  display: grid;
  grid-template-columns: 4rem 1fr;
  align-items: center;
}

.course-details-resources-tile-logo, .course-delete-logo, .course-edit-logo {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.course-details-resources-tile-text {
  justify-self: center;
}

.course-details-resources h3 {
  font-size: 1.2rem;
  color: #fff;
}

.course-details-resources-tile-upel {
  background-color: #2EC76D;
}

.course-details-resources-tile-upel:hover {
  background-color: #58d28a;
  cursor: pointer;
}

.course-details-resources-tile-upel-logo {
  background-color: #58d28a;
}

.course-details-resources-tile-eLecture {
  background-color: #222C67;
}

.course-details-resources-tile-eLecture:hover {
  background-color: #4e5685;
  cursor: pointer;
}

.course-details-resources-tile-eLecture-logo {
  background-color: #4e5685;
}

.course-details-resources-tile-drive {
  background-color: #5E81F4;
}

.course-details-resources-tile-drive:hover {
  background-color: #7e9af6;
  cursor: pointer;
}

.course-details-resources-tile-drive-logo {
  background-color: #7e9af6;
}

/* Course Progress  */

.course-progress {
  grid-row: 4/7;
  grid-column: 1/2;
  height: 50vh;

  background-color: #F2F2F2;
  border-radius: 1rem;
  padding: .5rem 1rem 0 1rem;
}

.course-progress-box {
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
}

.course-progress-header {
  grid-row: 1/2;
  grid-column: 1/3;

  justify-content: space-between;
}

.course-progress-info {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(1fr, 2);
}

.course-progress-bar {
  grid-column: 1/2;
  align-self: center;
  justify-self: center;
}

.course-progress-data {
  padding: 3rem 0;
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.course-progress-points {
  display: flex;
  justify-content: center;
}

.course-progress-points h3 {
  font-weight: 600;
  font-size: 2rem;
}

.course-progress-data h2 {
  font-weight: 600;
  font-size: 5rem;
}

.course-progress-data p {
  font-weight: 600;
  font-size: 1.2rem;
}

.course-progress-grade {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-progress-form-box {
  grid-column: 1/3;
  width: 100%;
  justify-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.course-progress-form div{
  margin-bottom: 1rem;
}

.course-progress-form input {
  background-color: inherit;
  border: none;
  font-size: 8rem;
  max-width: 10rem;

  -moz-appearance: textfield;
}

.course-progress-empty {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course-progress-empty h2 {
  font-weight: 400;
}

/* To remove arrows from input type number */
.course-progress-form input::-webkit-inner-spin-button,
.course-progress-form input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.course-progress-form p {
  font-size: 8rem;
}

/* Course Assignments */

.course-assignments {
  grid-row: 4/7;
  grid-column: 2/3;
  max-height: 50vh;

  background-color: #F2F2F2;
  border-radius: 1rem;
  padding: .5rem 1rem 0 1rem;
}

.course-assignments-list {
  margin-top: 1rem;
  height: 100%;
  overflow-y: auto;
}

.course-assignments-box {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.course-assignments-header {
  justify-content: space-between;
}

.course-assignments-header div {
  align-items: center;
}

.course-assignment-counter {
  margin-left: 1rem;
  background-color: #2DC76D;
  border-radius: 1rem;

  width: 1.5rem;
  height: 1.5rem;

  align-items: center;
  justify-content: center;
}

.course-assignment-counter p {
  font-size: .8rem;
  font-weight: 600;
  color: #fff;
  line-height: 1rem;
}

.course-assignments-header button, .course-progress-header button{
  background-color: #222C67;
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
}

.course-assignment-placeholder-box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-assignment-placeholder {
  font-weight: 400;
}

.course-assignment-form form {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  font-weight: 600;
}

.course-assignment-form div {
  margin-top: 1rem;
  display: flex;
  padding: 0 1rem;
}

.course-assignment-form label {
  margin-right: 1rem;
  min-width: 3rem;
}

.course-assignment-form input, .course-assignment-form select {
  line-height: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid;
  border-radius: 1rem;
  background-color: #fff;
  padding: 0 .5rem;
  flex-grow: 1;
}

.course-assignment-form button, .course-progress-form button {
  width: 5rem;
  height: 2rem;
  color: #fff;
  background-color: #222C67;
  border-radius: 1rem;

  align-self: center;
  margin: 0 auto;
  font-weight: 600;
}

.course-changes {
  grid-row: 9/11;
  grid-column: 2/3;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.course-delete {
  background-color: #dc143c;
  height: 6rem;
  width: 6rem;
  border-radius: 1rem;
  padding: .5rem;
  margin-left: 1rem;
  cursor: pointer;
}

.course-delete:hover {
  background-color: #e34363;
}

.course-delete-logo {
  background-color: #e34363;
}

.course-edit {
  background-color: #8d9f9f;
  height: 6rem;
  width: 6rem;
  border-radius: 1rem;
  padding: .5rem;
  margin-left: 1rem;
  cursor: pointer;
}

.course-edit:hover {
  background-color: #a4b2b2;
}

.course-edit-logo {
  background-color: #a4b2b2;
}

/* Courses List */

.courses-list .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.courses-list .heading button {
  background-color: #222C67;
  color: white;
  border-radius: 10rem;
  width: 2.5rem;
  height: 2.5rem;
}

.courses-list .heading button:hover {
  background-color: #4e5685;
}

.course-tiles {
  padding: .5rem;
  max-height: 78vh;
  overflow-y: auto;
}

/* Course Form */

.course-form {
  display: flex;
  flex-direction: column;
  padding: 1.5rem .5rem;
  grid-column: 1/3;
}

.course-form h1 {
  padding: 0 1.5rem;
}

.course-form form, .course-form form .d-flex div {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;

  align-self: center;
}

.course-form form .d-flex div {
  margin: 0 1rem;
}

.course-form input {
  width: 15rem;
  max-width: 15rem;
  line-height: 1.5rem;
  max-height: 2rem;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid;
  border-radius: 1rem;
  background-color: #F2F2F2
}

.course-form input[type=color] {
  max-width: 6rem;
  height: 2rem;
  border: none;
  border-radius: 1rem;
  background-color: transparent;
}

.course-form label {
  margin: 2rem 0 .5rem 0;
}

.course-form button {
  width: 5rem;
  height: 2rem;
  margin: 2rem .5rem 0 .5rem;
  color: #fff;
  background-color: #222C67;
  border-radius: 1rem;

  align-self: center;
  font-weight: 600;
}

.course-form button:hover {
  background-color: #4e5685;
}

/* Prevent from displaying chrome extension ColorPick Eyedropper img  */
.colorpick-eyedropper-input-trigger {
  display: none !important;
}

/* Course Assignments  */

.course-assignment {
  padding: .5rem;
  align-items: center;

}

.course-assignment-info {
  margin-right: auto;
}

.course-assignment-type {
  border-radius: .5rem;
  padding: .2rem .5rem;
  margin-right: 0 .5rem;
}

.course-assignment-type-exam {
  background-color: #dc143c;
}

.course-assignment-type-test {
  background-color: #ffd700;
}

.course-assignment-type-task {
  background-color: #2ec76d;
}

.course-assignment-delete {
  background-color: #dc143c;
  border-radius: 1rem;
  padding: 0;
  margin-left: .5rem;
}

/* Semester Picker */

.semester-picker {
  background-color: #F2F2F2;
  border-radius: 3rem;
  padding: .3rem;
  margin: 1.5rem 0;

  display: flex;
  justify-content: space-between;
}

.semester-picker button {
  font-weight: 700;
  font-size: 1rem;
  background-color: #F2F2F2;
  color: #000;
  padding: .5rem 1rem;
  border-radius: 3rem;
}

.semester-picker button:hover {
  background-color: #fff;
}

.sem-active {
  background-color: #fff !important;
}

.semester-picker h3 {
  font-size: 1rem;
  padding: .5rem 1.5rem;
  border-radius: 1rem;
}

/* Course Tile */

.course-tile {
  display: grid;
  grid-template-columns: 3rem 1fr;
  margin-bottom: 1rem;
  height: 5rem;
  padding: 0 1rem;
  cursor: pointer;
}

.course-tile:hover {
  background-color: #F2F2F2;
  border-radius: 1rem;
}

.course-tile-img {
  height: 3rem;
  width: 3rem;
  border-radius: 10rem;
  justify-self: center;
  align-self: center;
}

.course-tile-info {
  padding: .5rem 1rem;
  display: flex;
  flex-direction: column;

  align-self: center;
  justify-content: flex-end;
}

.course-tile-info h3 {
  font-weight: 800;
  margin-bottom: .2rem;
}

.course-tile-info p {
  font-weight: 600;
}

/* Icons  */

ion-icon {
  color: #F2F2F2;
  font-size: 1.5rem;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  border-radius: 10rem;
}

.add-outline {
  background-color:  #222C67;
  border-radius: 10rem;
}